.app-container-holder{

  justify-content:center;
  justify-text:center;




  }
  .homepage-container{
  display:flex;
  flex-direction:column;
  align-items: center;
  text-align: center;


  }
  .homepage{
   width: 100%;

    h3{
    font-size: 2.5rem;
    }
  }

  img {
  width:350px;
  height: 250px;
  border-radius: 8px;



  }
