.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content:center;
  height: auto;
  color: #333;
  // background-color: #AA151B;
  font-family: 'PT Sans', sans-serif;

  .app-container-holder {
    width: 80vw;
    height: 80vw;
    justify-content: center;

    .app-container {
      width: 80vw;
      height: 80vw;
      padding: 3rem;
    }
  }
}


