.panelCon{
  display:flex;
  flex-direction:column;
  margin-top: 10px;
}

.dashBoard {
  opacity: 1;



}

.yourProfile{
  text-align:center;
  font-Size: 2rem;


}
.chartCon{
  display:flex;
  justify-content: center;
  width: 90%;





}
.lineChart{
  width:90% ;
  height:100px ;



}
