
#alt-action{
  color: rgb(41, 41, 36);
  text-decoration: none;
  font-size: 1.15rem;
  padding-bottom: 15px;
  // height: 40vh;

}

#user-action-form{
  background-color: rgba(252, 252, 252, 0.543);
  width: 60%;
  min-height: 45vh;
  border-radius: 7.5px;
}

#placeholder{
  margin: 15px;
}


.dest-btn{
  height: 50px;
}
