.game-container {
    width: 700px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .form-container {
        width: 90%;

        .tense-mood-container {
            display: flex;
            justify-content: space-around;
            margin: 20px auto;
            color: grey;
        }

        .verb-translation-container {
            margin: 10px auto 40px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
    
            .verb {
                font-size: 2rem;
                margin-right: 15px;
            }
    
            .translation {
                font-style: italic;
            }
        }
    
        .subject-input-container {
            margin: 10px auto;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            color: grey;
    
            #subject {
                margin-right: 10px;
            }
    
            #outlined-name {
                width: 220px;
            }
        }
    
        .submit-button {
            background-color: #F2C84B;
            width: 50px;
            margin: 0 15px;
    
            &:hover{
                background-color: darken(#F2C84B, 15%);
            }
        }

        .accent-characters {
            margin: 10px auto;
        }

        .progress-bar {
            height: 20px;
            border-radius: 5px;
            margin: 0;
            // background-color: #F2C84B;
        }
    }
}